@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

#hover_container {
  perspective: 40px;
}

.floatCard {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.image-container {
  width: 100%;
}

.image-container div {
  position: unset !important;
}

.image-container img {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
